<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <H1>SIGNUP FORM</H1>
        <form action="" method="post">
            {%csrf_token%}
            {{form}}
            <button type="submit">REGISTER</button>
            <div>
                Already have an account ? <a  href="{%url 'login'%}">LOGIN</a>
            </div>
        </form>
    </div>
</body>
</html>